<p id="notice"><%= notice %></p>

<p>
  <b>Tail number:</b>
  <%= @plane.tail_number %>
</p>

<p>
  <b>Model:</b>
  <%= @plane.model %>
</p>


<%= link_to 'Edit', edit_plane_path(@plane) %> |
<%= link_to 'Back', planes_path %>
