<%= form_for(Entry.new) do |f| %>
<table>
	<thead>
		<tr>
			<th rowspan='2'>Date</th>
			<th rowspan='2'>Aircraft Ident</th>
			<th rowspan='2'>Aircraft Model</th>
			<th colspan='2'>Route of Flight</th>
			<th rowspan='2'>Remarks</th>
			<th rowspan='2'>Takeoffs</th>
			<th rowspan='2'>Landings</th>
			<th colspan='2'>Aircraft Category and Class</th>
			<th colspan='3'>Conditions of Flight</th>
			<th rowspan='2'>Instrument approaches</th>
			<th colspan='4'>Type of Piloting Time</th>
			<th rowspan='2'>Total flight</th>
			<th rowspan='2'></th>
		</tr>
		<tr>
			<th>From</th>
			<th>To</th>
			<th>Single-engine land</th>
			<th>Multi-engine land</th>
			<th>Night</th>
			<th>Actual instrument</th>
			<th>Simulated instrument</th>
			<th>Cross country</th>
			<th>Solo</th>
			<th>Dual received</th>
			<th>PIC</th>
		</tr>
	</thead>

<% @entries.each do |entry| %>
	<tr>
		<td><%= entry.flown %></td>
		<td><%= entry.plane.tail_number %></td>
		<td><%= entry.plane.model %></td>
		<td><%= entry.from %></td>
		<td><%= entry.to %></td>
		<td><%= entry.remarks %></td>
		<td><%= entry.takeoffs %></td>
		<td><%= entry.landings %></td>
		<td><%= entry.sel %></td>
		<td><%= entry.mel %></td>
		<td><%= entry.night %></td>
		<td><%= entry.actual_instrument %></td>
		<td><%= entry.simulated_instrument %></td>
		<td><%= entry.instrument_approaches %></td>
		<td><%= entry.cross_country %></td>
		<td><%= entry.solo %></td>
		<td><%= entry.dual_received %></td>
		<td><%= entry.pic %></td>
		<td><%= entry.total_flight %></td>
		<td>
			<%= link_to 'Edit', edit_entry_path(entry) %>
			<%= link_to 'Destroy', entry, confirm: 'Are you sure?', method: :delete %>
		</td>
	</tr>
<% end %>
	<tr id='totals'>
		<td>Total:</td>
		<td colspan="2">&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td><%= @sums['takeoffs'] %></td>
		<td><%= @sums['landings'] %></td>
		<td><%= @sums['sel'] %></td>
		<td><%= @sums['mel'] %></td>
		<td><%= @sums['night'] %></td>
		<td><%= @sums['actual_instrument'] %></td>
		<td><%= @sums['simulated_instrument'] %></td>
		<td><%= @sums['instrument_approaches'] %></td>
		<td><%= @sums['cross_country'] %></td>
		<td><%= @sums['solo'] %></td>
		<td><%= @sums['dual_received'] %></td>
		<td><%= @sums['pic'] %></td>
		<td><%= @sums['total_flight'] %></td>
		<td>&nbsp;</td>
	</tr>

	<tr>
		<td><%= f.text_field :flown %></td>
		<td colspan='2'><%= plane_dropdown(f) %></td>
		<td><%= f.text_field :from %></td>
		<td><%= f.text_field :to %></td>
		<td><%= f.text_area :remarks %></td>
		<td><%= f.text_field :takeoffs %></td>
		<td><%= f.text_field :landings %></td>
		<td><%= f.text_field :sel %></td>
		<td><%= f.text_field :mel %></td>
		<td><%= f.text_field :night %></td>
		<td><%= f.text_field :actual_instrument %></td>
		<td><%= f.text_field :simulated_instrument %></td>
		<td><%= f.text_field :instrument_approaches %></td>
		<td><%= f.text_field :cross_country %></td>
		<td><%= f.text_field :solo %></td>
		<td><%= f.text_field :dual_received %></td>
		<td><%= f.text_field :pic %></td>
		<td><%= f.text_field :total_flight %></td>
		<td><%= f.submit 'Add' %></td>
	</tr>
</table>
<% end %>
<br>

<%= link_to 'New Entry', new_entry_path %>
